buber-dinner-application/bin
buber-dinner-application/obj
buber-dinner-contracts/bin
buber-dinner-contracts/obj
buber-dinner-domain/bin
buber-dinner-domain/obj
buber-dinner-host/bin
buber-dinner-host/obj
buber-dinner-infrastructure/bin
buber-dinner-infrastructure/obj
buber-dinner-presentation/bin
buber-dinner-presentation/obj